*{
  font-family: 'Baloo Paaji 2',sans-serif !important;
  color: white;
}
.vh100 {
  height: 100vh;
  width: 100%;
}
.upload-container {
  position: relative;
  display: inline-block;
}

.file-input {
  display: none;
}

.custom-file-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-file-label:hover {
  background-color: #45a049;
}

.custom-file-label:active {
  background-color: #388e3c;
}

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  display: flex;
  position: sticky;
  top: 0;
}
.section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 128, 255, 0.2);
  pointer-events: none;
}
.section-1 {
  background-image: url(../public/img/anime1.jpg);
  z-index: 11;
}
.section-2 {
  background-image: url(../public/img/anime2.jpg);
  z-index: 22;
}
.section-3 {
  background-image: url(../public/img/anime3.jpg);
  z-index: 33;
}
.section-4 {
  background-image: url(../public/img/anime4.jpg);
  z-index: 44;
}
.section-5 {
  background-image: url(../public/img/anime5.jpg);
  z-index: 55;
}
.section-6 {
  background-image: url(../public/img/anime6.jpg);
  z-index: 66;
}